@Model 

@Html.Partial("Partials/SideNavigationMenu")

<div class="admin-content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary admin-panel">
                <span> Add New Project</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary admin-panel">
                    <span> Project Edit List</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary admin-panel">
                <span> Project Stats</span>
            </div>
        </div>
    </div>
</div>