body {
    padding-bottom: 20px;
    font-family: 'league_spartanregular';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

@font-face {
    font-family: 'league_spartanregular';
    src: url('/fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('/fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'enriqueta';
    src: url('/fonts/enriqueta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header-background {
    height: 400px;
    width: 100%;
    background-image: url(/images/header-backgroundV2.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 0;
    filter: grayscale(1);
}

.header-details {
    height: 400px;
    width: 100%;
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 0;
    filter: grayscale(1);
}

.header-details:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #141414;
    background: rgba(20, 20, 20, 0.5);
}

.header-background:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #141414;
    background: rgba(20, 20, 20, 0.5);
}

.header-profile-content {
    height: 400px;
    padding-top: 60px;
}

.header-details-content {
    height: 400px;
    padding-top: 170px;
}

.header-profile {
    text-align: center;
}

.header-profile-image {
    background-image: url(/images/header-profile-image.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    margin: auto;
    height: 200px; 
    width: 200px;
    margin-bottom: 30px;
    border: #ffffff solid thick;
}

.header-profile-title {
    font-size: 30px;
    color: #ffffff;
}

.navbar-flave {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 0;
    background-color: #1d1d1d;
    border-radius: 0px;
    font-family: 'enriqueta';
}
.navbar:after {
    clear: both;
}

.navbar-nav-flave {
    
} 
.navbar-nav-flave > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sideNavigationMenu {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 30px;
}

.sideNavigationMenu a {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    color: #818181;
    display: block;
}

.sideNavigationMenu i {
    font-size: 30px;
    color: #818181;
    display: block;
}

.admin-content {
    margin-left: 90px;
    margin-right: 20px;
}

.admin-panel {
    height: 200px;
    color: whitesmoke;
    border-color: grey;
    padding: 5px 5px 5px 20px;
    background-color: #818181;
}

.admin-panel-form-label {
    padding-top: 6px;
}

.admin-panel-form-input {
    max-width: 80%;
    margin-bottom: 5px;
}

.video-container {
    text-align: center;
    position: relative;
    margin-top: 10px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:80%;
    height:100%;
    margin-left: 10%;
}

.image-list-container {
    padding-top: 10px;
}

.image-list-item {
    height: 100px;
    max-width: 100%;
    margin-bottom: 10px;
}

.strokeme {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}