@Html.Partial("Navbar")

<div class="header-details" style="background-image: url(/images/header-backgroundV2.png)"></div>
<div class="header-details-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <span class="header-profile-title"> Curriculum Vitae </span>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <p style="font-family: Arial">
                A PDF version of this CV can be downloaded <a href="/files/cv/David Smith CV.pdf">here</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Professional Skills</h3>
            <p style="font-family: Arial">
                <br/>&#8226 C++
                <br/>&#8226 C#
                <br/>&#8226 DirectX11
                <br/>&#8226 OpenGL
                <br/>&#8226 Unity
                <br/>&#8226 Cocos2D-X
                <br/>&#8226 Android
                <br/>&#8226 Java
                <br/>&#8226 SQL
                <br/>&#8226 PHP
                <br/>&#8226 JavaScript
            </p>
        </div>
        <div class="col-md-9">
            <h3>About Me</h3>
            <br/>
            <p style="font-family: Arial">
                I am currently in my final year studying Computer Games Programming BSc (Hons) at Staffordshire University, seeking an opportunity to showcase my abilities and ambition in the gaming industry. Primarily I program in C++ and C#, but have competencies in Java, PHP, JavaScript and a few other languages. My skills also stretch to a strong understanding of maths and physics in 3D graphics.
            </p>
            <p style="font-family: Arial">
                During my time at University, I have explored many technologies and developed several skills in 3D and 2D Graphics, AI, Networking and Project Management. I have created two DirectX11 engines, a simple OpenGL engine, two mobile games and am currently working on a PC Unity game for <a href="https://twitter.com/pwg_dev?lang=en">Playing With Giants</a>
            </p>
            <p style="font-family: Arial">
                As I constantly strive to achieve the best in tasks and projects I undertake, I would consider myself a highly motivated individual who is not satisfied until a job is complete to the highest possible quality. Experience, with a sprinkle of an enjoyment for challenge, has ensured I remain working hard in all situations.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Work Experience</h3>

            <h4>Codeweavers - Placement Backend Developer</h4> (2016-2017)
            <p style="font-family: Arial">
                During my placement year at University, I worked as a C# back-end application developer at Codeweavers. We worked on providing finance calculators, lead management systems and retailing solutions to customers such as Alphabet, BMW, Honda and more.
            </p>
            <p style="font-family: Arial">
                Most of my time was spent split between managing vehicle data and working on the core finance engine that powers all the calculations at Codeweavers.
            </p>
            <br/>
            <h4>iView - Technical Support & Software Tester</h4> (2014)
            <p style="font-family: Arial">
                My first job in the computing industry was at iView solutions, where I was the primary tester for the developed software while also offering a small amount of technical support to iView's customers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Education</h3>

            <h4>Staffordshire University</h4>
            <p style="font-family: Arial">
                <b>Level 6 Modules:</b>
                <br/>&#8226 Advanced Graphics and Real-Time Rendering
                <br/>&#8226 Final Year Project (A Flora AI That Creates and Adapts Plants to Survive in a Dynamic Ecosystem)
                <br/>&#8226 Group Game Development Project and Work-Based Simulation
                <br/>&#8226 Low-Level Game Programming
            </p>
            <p style="font-family: Arial">
                <b>Level 5 Modules:</b>
                <br/>&#8226 Further Games and Graphics Concepts [First Class Honours]
                <br/>&#8226 Technical Games and Graphics Concepts [First Class Honours]
                <br/>&#8226 Artificial Intelligence for Games [Upper Second-Class Honours]
                <br/>&#8226 Further Mathematics and Algorithmics [First Class Honours]
                <br/>&#8226 Concurrent Network Applications [First Class Honours]
            </p>
            <p style="font-family: Arial">
                <b>Level 4 Modules:</b>
                <br/>&#8226 Fundamentals of Games and Graphics [First Class Honours]
                <br/>&#8226 Introduction to Software Development [First Class Honours]
                <br/>&#8226 Fundamentals of Computing and Mathematics [First Class Honours]
                <br/>&#8226 Professional Business Skills [First Class Honours]
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>References</h3>
            <p style="font-family: Arial">
                <b>Bob Hobbs, Senior Lecturer at Staffordshire University</b>
                <br/>r.g.hobbs@staffs.ac.uk
                <br/>01785 353465
            </p>
            <p style="font-family: Arial">
                <b>Andrew Smith, Managing Director at iView</b>
                <br/>andy@iview.co.uk
                <br/>http://www.iview.co.uk
            </p>
        </div>
    </div>
</div>

@Html.Partial("MainFooter")