@Html.Partial("Navbar")

<div class="header-details" style="background-image: url(/images/header-backgroundV2.png)"></div>
<div class="header-details-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <span class="header-profile-title"> Curriculum Vitae </span>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <p style="font-family: Arial">
                A PDF version of this CV can be downloaded <a href="/files/cv/David Smith CV.pdf">here</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Professional Skills</h3>
            <p style="font-family: Arial">
                <br/>&#8226 C++
                <br/>&#8226 C#
                <br/>&#8226 DirectX11
                <br/>&#8226 OpenGL
                <br/>&#8226 Unity
                <br/>&#8226 Cocos2D-X
                <br/>&#8226 Android
                <br/>&#8226 Java
                <br/>&#8226 SQL
                <br/>&#8226 PHP
                <br/>&#8226 JavaScript
            </p>
        </div>
        <div class="col-md-9">
            <h3>About Me</h3>
            <br/>
            <p style="font-family: Arial">
                I am currently in my final year studying Computer Games Programming BSc (Hons) at Staffordshire University, seeking an opportunity to showcase my abilities and ambition in the gaming industry. Primarily I program in C++ and C#, but have competencies in Java, PHP, JavaScript and a few other languages. My skills also stretch to a strong understanding of maths and physics in 3D graphics.
            </p>
            <p style="font-family: Arial">
                During my time at University, I have explored many technologies and developed several skills in 3D and 2D Graphics, AI, Networking and Project Management. I have created two DirectX11 engines, a simple OpenGL engine, two mobile games and am currently working on a PC Unity game for <a href="https://twitter.com/pwg_dev?lang=en">Playing With Giants</a>
            </p>
            <p style="font-family: Arial">
                As I constantly strive to achieve the best in tasks and projects I undertake, I would consider myself a highly motivated individual who is not satisfied until a job is complete to the highest possible quality. Experience, with a sprinkle of an enjoyment for challenge, has ensured I remain working hard in all situations.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Work Experience</h3>

            <h4>Codeweavers - Placement Backend Developer</h4> (2016-2017)
            <p style="font-family: Arial">
                During my placement year at University, I worked as a C# back-end application developer at Codeweavers. We worked on providing finance calculators, lead management systems and retailing solutions to customers such as Alphabet, BMW, Honda and more.
            </p>
            <p style="font-family: Arial">
                Most of my time was spent split between managing vehicle data and working on the core finance engine that powers all the calculations at Codeweavers. My work in the core finance engine involved developing residual calculations for companies such as <a href="https://www.tesla.com/en_GB/used">Tesla</a> and <a href="http://www.levc.com/finance">London Taxi Company</a>. I was also part of the development team that made the search engine that powers <a href="https://offers.mini.co.uk">Mini Offers</a>. Other jobs included developing internal tools for Customer Support to better supprt Codeweaver's clients and developing other bespoke solutions for other companies.
            </p>
            <p style="font-family: Arial">
                As this was my first job in an agile software development company, it taught me a multitude of useful skills such as:
                <br />&#8226 Project Management & Leadership
                <br />&#8226 Agile Development Methodologies such as Kanban, Pair Programming, Continuous Integration, Test-Driven Development and more
                <br />&#8226 Dealing with stressful situations and deadlines, where a customer's product and companies reputation is on the line
            </p>
            <h4>iView - Technical Support & Software Tester</h4> (2014)
            <p style="font-family: Arial">
                My first job in the computing industry was at iView solutions, where I was the primary tester for the developed software while also offering a small amount of technical support to iView's customers.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Education</h3>
            <h4>Staffordshire University</h4>
            <p style="font-family: Arial">
                <br /><b>Advanced Graphics and Real-Time Rendering (Level 6)</b>
                <br />Developing Advanced Graphic Algorithms and Techniques such as Bump Mapping, Parallax Mapping, Parallax Occlusion, Ambient Occlusion, Deferred Rendering and Shadowing. Previous years covered other graphics, physics and AI techniques such as Particle Systems, Rigid Body Physics, AI Pathfinding, Collision Detection, Collision Response, Lighting, Texturing, OBJ Rendering and Cameras. On both graphics modules for Level 4 & 5 I was awarded First-Class Honours.
                <br />
                <br /><b>Final Year Project (A Flora AI That Creates and Adapts Plants to Survive in a Dynamic Ecosystem)</b>
                <br />For my Final Year Project, I am developing an AI system that will create and adapt plants against a range of enviromental variables to create genetic variance in generated plants. The objective is to replace an Artist's time making florae based on educated guesses and allow a tool to create belivable plant life.
                <br />
                <br /><b>Group Game Development Project and Work-Based Simulation (Level 6) and Technical Games Production (Level 5)</b>
                <br />Work based simulations attempting to replicate the environment, hardships and processes of real game studios. These modules have resulted in developing a game called "Misinformation" (unreleased) for <a href="https://twitter.com/pwg_dev?lang=en">Playing With Giants</a> and presenting a game, <a href="http://www.flave.co.uk/Home/ProjectDetails?projectId=5">Scientific Adventures of a Husky in Space</a>, to <a href="https://www.mediamolecule.com/">Media Molecule</a>, which won against games developed by other Students. I was awarded First-Class Honours in Technical Games Production and the Group Game Development Project is ongoing.
                <br />
                <br /><b>Further Mathematics and Algorithmics (Level 5)</b>
                <br />Maths modules covering content such as Vectors, Matrices, Quaternions, Calculus, Complex Numbers, Integration and Normal Distribution.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>References</h3>
            <p style="font-family: Arial">
                <b>Bob Hobbs, Senior Lecturer at Staffordshire University</b>
                <br/>r.g.hobbs@staffs.ac.uk
                <br/>01785 353465
            </p>
            <p style="font-family: Arial">
                <b>Andrew Smith, Managing Director at iView</b>
                <br/>andy@iview.co.uk
                <br/>http://www.iview.co.uk
            </p>
        </div>
    </div>
</div>

@Html.Partial("MainFooter")