@{
    ViewData["Title"] = "Contact";
}
@Html.Partial("Navbar")
<div class="container body-content">
    <h2>Contact: </h2>
    <h3>I can be summoned by the Bifrost Bridge. I also respond to emails. </h3>

    <address>
        <strong>Email:</strong> <a href="mailto:david@flave.co.uk">david@flave.co.uk</a><br />
    </address>
</div>

@Html.Partial("MainFooter")