@{
    ViewData["Title"] = "Contact";
}
@Html.Partial("Navbar")
<div class="container body-content">
    <h2>Contact: </h2>

    <address>
        <strong>Email:</strong> <a href="mailto:david@flave.co.uk">david@flave.co.uk</a><br />
        <strong>Phone:</strong> 07482773407 <br />
    </address>
    <span>Failing that, I can also be summoned by the Bifrost Bridge</span>
</div>

@Html.Partial("MainFooter")