@{
    ViewData["Title"] = "Contact";
}
<div class="header-details" style="background-image: url(/images/header-backgroundV2.png)"></div>
<div class="header-details-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <span class="header-profile-title"> Contact </span>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
@Html.Partial("Navbar")

<div class="container body-content">
    <address>
        <strong>Email:</strong> <a href="mailto:david@flave.co.uk">david@flave.co.uk</a><br />
        <strong>Phone:</strong> 07482773407 <br />
    </address>
    <span>Failing that, I can also be summoned by the Bifrost Bridge</span>
</div>

@Html.Partial("MainFooter")