<div id="sideNavigation" class="sideNavigationMenu">
    <a>
        <i class="fa fa-folder-open"></i>
        Projects
    </a>
    <a>
        <i class="fa fa-database"></i>
        Database
    </a>
</div>