@model FlaveSite.Core.Blogs.Blog

<div class="header-background"></div>
<div class="header-profile-content">
    <div class="row" style="top: 50%">
        <div class="col-md-4"></div>
        <div class="col-md-4 header-profile">
            <div class="header-profile-image img-circle"></div>
            <span class="header-profile-title"> @Model.BlogInformation.Title </span>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
@Html.Partial("Navbar")

<div class="container body-content" style="font-family: Arial">
    @Html.Raw(Model.Content)
</div>

@Html.Partial("MainFooter")