<div class="container body-content">
    <footer>
        <p>&copy; @DateTime.Today.Year - FlaveSite</p>
        <a href="https://www.linkedin.com/in/flave229/" style="color: #333"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="https://twitter.com/Fire229" style="color: #333"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.instagram.com/flave229/" style="color: #333"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/Flave229" style="color: #333"><i class="fa fa-facebook-square fa-2x"></i></a>
    </footer>
</div>