<div class="navbar navbar-inverse navbar-flave">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="text-align: center">
            <ul class="nav navbar-nav navbar-nav-flave" style="display: inline-block; float: none">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <!--<li><a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>-->
                <li><a asp-area="" asp-controller="Home" asp-action="About">CV</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>